.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.blue-bg {
  background-color: #2A72B8;
}

.yellow-bg {
  background-color: #FFCB05;
}

.darkblue-bg {
  background-color: #153E65;
}

.lightgray-bg {
  background-color: #E5E5E5;
}

.pokemon-card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.type-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-pokemon {
  border: 1px solid #2A72B8;
  border-radius: 5px;
  padding: 1rem;
}

.header-card {
  border-radius: 5px 5px 0 0;
}

.header-card h2 {
  font-size: 1.2rem;
  text-align: left;
  padding: .75rem;
}

.body-card h4 {
  text-align: left;
  color: #2A72B8;
  font-size: 1rem;
  font-weight: 400;
}

.thumbnail {
  max-width: 160px;
  margin: 2rem 0;
}

.body-card p {
  display: grid;

}

.body-card p span {
  font-weight: 900;
  text-align: left;
  color: #2A72B8;
  padding: 0rem .5rem .0rem .0rem;
}

.button-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  color: #2A72B8;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 0 0 5px 5px
}

.bottom-details {
  height: 10px;
  border-radius: 0 0 5px 5px;
}


.btn {
  display: flex!important;
  padding: .5rem 1rem;
}

.buttons {
  display: flex;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blue-color {
  background-color: #2a72b8;
  font-family: sans-serif;
  color: white;
  text-align: start;
  font-weight: bold;
  font-size: 24px;
  padding: 18px;
}
.blue1-color {
  background-color: #2a72b8;
  font-family: sans-serif;
  color: white;
  text-align: start;
  font-weight: bold;
  font-size: 24px;
  padding: 12px;
}

.yellow-color {
  background-color: #ffcb05;
  font-family: sans-serif;
  color: #2a72b8;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
}

.gray-color {
  background-color: rgb(223, 211, 211);
  font-family: sans-serif;
  color: #2a72b8;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
}
.form-textarea {
  border-radius: 25px;
  border: 1px solid #2a72b8;
  padding: 10px;
  width: 540px;
  height: 150px;
}

#addform-btn {
  align-items: center;
}
